<nav>
<div class="logo">
    <img src="https://th.bing.com/th/id/OIP._4gpKJIl2b2GrCwg-rARsAAAAA?rs=1&pid=ImgDetMain" alt="logo">
    <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/seller">Seller</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Cart(0)</a></li>
    </ul>
</div>
<div class="search"> 
    <input type="text" placeholder="Search Product" >
    <button mat-raised-button color="primary" >Search</button>
</div>
 </nav>
 <router-outlet></router-outlet>


